---

---

<nav
  class="fixed w-full z-50 top-0 start-0 border-b border-gray-100 bg-white/80 backdrop-blur-md"
>
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <a
      href="/"
      class="font-bold text-xl tracking-tight text-black hover:opacity-80 transition"
    >
      Seek Legal.
    </a>

    <div class="hidden md:flex space-x-8 text-sm font-bold text-gray-500">
      <a href="#" class="hover:text-[#4a90e2] transition">About</a>
      <a
        href="mailto:hello@seeklegal.org"
        class="hover:text-[#4a90e2] transition">Contact</a
      >
    </div>
  </div>
</nav>
